* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  flex-wrap: nowrap;
  padding: 0 80px;

  gap: 80px;
  list-style: none;
}
nav ul {
  display: flex;
}
a {
  text-decoration: none;
  color: inherit;
}
body p {
  font-family: "Hind Madurai";
  font-size: 17px;
  padding: 15px 0;
  font-weight: 100;
  opacity: 0.9;
}
span {
  color: #d23166;
}
.container {
  background-color: #d2316721;
}
.container div header {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 0px;
}
.container div header img {
  margin-left: -40px;
}
.muzqaymoq {
  display: flex;

  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  left: -100px;
}

.crem {
  display: flex;
  align-items: center;
  justify-content: center;
}
.muzqaymoq h1 {
  font-weight: bold;
  font-size: px;

  color: #0f0101;
}
button {
  width: 125px;
  height: 40px;
  background-color: #d23167f5;
  border: 1px solid #d23166;
  border-radius: 5px;
}
.ice h1 {
  font-family: "Fredoka One";
  width: 520px;
  font-size: 50px;
}
.ice p {
  width: 440px;
}
.ice {
  position: absolute;
  top: 250px;
  left: -410px;
}

.ice-cream img {
  position: absolute;
}
.ice-cream {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img1 {
  position: absolute;
  z-index: 1;
  top: 125px;
  right: -880px;
}
.img2 {
  position: absolute;
  top: 10px;
  left: 140px;
}
.img3 {
  position: absolute;
  top: 280px;
  left: 250px;
}
.quick {
  margin-top: 800px;
  background-color: white;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 300px;
}
.quick p {
  width: 230px;
}
.sugar {
  margin-left: 125px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
}
.sugar p {
  width: 420px;
  text-align: start;
}
.sugar h2 {
  font-size: 35px;
  width: 200px;
}
.products {
  background-color: white;
}
.our h2 {
  text-align: center;
  padding: 70px 0;
}
.our ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.brown {
  margin-top: 50px;
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
}
.brown p {
  width: 450px;
}
.brown img {
  width: 450px;
}
.chocolate {
  text-align: end;
}
.foto {
  display: flex;
  align-items: center;
}
.foto p {
  margin-left: 15px;
  padding: 7px;
}
.foto h4 {
  margin-left: 20px;
}
.foto img {
  width: 80px;
  height: 80px;
  background-size: cover;
  border: 1px solid black;
  border-radius: 75px;
}

.amirican img {
  position: relative;
  width: 10px;
  height: 10px;
}
.box1 {
  position: absolute;
  top: 20px;
}
.box2 {
  position: absolute;
  top: -35px;
  left: 140px;
}
.amirican p {
  width: 380px;
  margin-left: 15px;
}
.photos {
  display: flex;
  align-items: center;

  gap: 25px;
}
.photo2 {
  width: 70px;
  height: 70px;
  background-size: cover;
  border: 1px solid black;
  border-radius: 75px;
}
.photo1 {
  width: 50px;
  height: 50px;
  background-size: cover;
  border: 1px solid black;
  border-radius: 75px;
}

.photo3 {
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
}
.icons li {
  display: flex;
}
.icons ul li img {
  width: 30px;
  height: 30px;
}
.icons h3 {
  font-size: 40px;
}
.icons p {
  width: 500px;
}
.card {
  display: flex;
  gap: 120px;
  align-items: center;
  justify-content: center;
}
form input {
  width: 350px;
  height: 70px;
}
form button {
  width: 90px;
  height: 70px;
  margin-top: 50px;
}
.form1 {
  display: flex;
  gap: 20px;
}
.form2 {
  margin-top: 15px;
  display: flex;
  gap: -15px;
  box-sizing: border-box;
  margin-left: 20px;
}
.form2 input {
  width: 650px;
  margin-top: 50px;
}

.have {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3px;
  height: 500px;
  background-color: white;
}
.have form h3 {
  margin-left: 190px;
  margin-bottom: 30px;
  font-size: 35px;
  width: 430px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
}
input:hover {
  border: 1px solid #d23166;
  border-radius: 5px;
}
.follow ul {
  display: flex;
  gap: 15px;
  margin-left: -80px;
}
.footer p {
  width: 300px;
}
footer .ul {
  margin-top: 10px;
}
footer {
  position: relative;
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
}
footer ul {
  margin-top: 55px;
}
form #gmail {
  width: 300px;
  height: 45px;
}
form .sub {
  background-color: red;

  width: 120px;
  height: 45px;
}
.password {
  margin-left: -70px;
  background-color: white;
}
.new {
  position: absolute;
  top: 80px;

  margin-right: 65px;
}
.action {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.newslatter {
  display: flex;
  justify-content: center;
}
.action .img {
  position: relative;
 
}
.blue {
  width: 30px;
  position: absolute;
  top: 85px;
  right: 370px;
}
.visa {
  width: 60px;
  position: absolute;
  top: 90px;
  right: 300px;
}
.card2 {
  width: 60px;
  position: absolute;
  top: 80px;
  right:230px;
}